version: 2
ethernets:
  eth0:
    dhcp4: false
    addresses: [ {{ networks.internal.ip_address }} ]
wifis:
  renderer: networkd
  wlan0:
    dhcp4: false
    optional: true
    access-points:
      "{{ networks.external.wifi.ssid }}":
        password: "{{ hashed_password }}"
    addresses: [ {{ networks.external.ip_address }} ]
    gateway4: {{ networks.external.gateway_ip }}
    nameservers:
      addresses: [ 8.8.8.8, 8.8.4.4 ]
